* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --base: blue;
  --spacing: 10px;
  --blur: 10px;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.highlight {
  color: var(--base);
}

.controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 3em;
}

label {
  font-size: 24px;
  margin-right: 0.5em;
  margin-left: 1em;
}

img {
  margin-top: 2em;
  height: 90vh;
  object-fit: contain;
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}
