*,
*::after,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(34, 67, 195);
  background: linear-gradient(
    0deg,
    rgb(45, 253, 180) 0%,
    rgba(34, 67, 195, 1) 100%
  );
  overflow-y: hidden;
}

.player {
  max-width: 50%;
}

.player:hover .controls {
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: space-evenly;
  height: 2em;
  align-items: center;
}

video {
  display: flex;
  width: 100%;
  max-height: 90vh;
}

.player:hover .progress,
.player:hover .progress-filled {
  height: 0.5em;
}

.progress {
  width: 100%;
  height: 0.2em;
  background-color: grey;
  transition: height 0.2s ease;
}

.progress-filled {
  background-color: white;
  width: 0%;
  height: 0.2em;
  z-index: 9;
  transition: height 0.2s ease;
  max-width: 100%;
}

.controls {
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: space-evenly;
  height: 2em;
  align-items: center;
  transition: visibility 0s, opacity 0.5s ease;
}

.controls input {
  background-color: black;
  max-width: 23%;
}

.controls button {
  max-width: 16%;
  display: flex;
  background-color: black;
  color: white;
  text-wrap: nowrap;
  border: none;
}

.controls button:hover {
  transform: scale(1.2);
}

.controls button:nth-of-type(last) {
  margin-right: 0;
}
